@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Vibur&display=swap");
html{
    scroll-behavior: smooth;
}
/*css gradient.io*/
body{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(107,9,121,0.9023984593837535) 45%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(107,9,121,0.9023984593837535) 45%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(107,9,121,0.9023984593837535) 45%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

p{
    color: #fff;
}

a{
    text-decoration: none;
}
button{
    background-color: rgba(0, 0, 0, 0%);
    border: none;
}
button:hover{
    cursor: pointer;
}
/*Neon effects taken and partially adjusted from css-tricks.com*/
.border{
    box-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
}

.container{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Font Styling */
.ticket-btn {
    font-family: 'Vibur', cursive;
    color: #fff;
    font-size: 1.3rem;
    animation: flicker 1.5s infinite alternate; 
  }
    
h1{
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 4.2rem;
}
.nav-link{
    text-decoration: none;
    font-family: 'Vibur', cursive;
    font-weight: 200;
    font-size: 1.3rem;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
}
/*Neon effects taken and partially adjusted from css-tricks.com*/
.nav-link:hover{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Vibur', cursive;
    font-weight: 200;
    font-size: 1.3rem;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
      animation: navFlick 1.5s infinite alternate; 
}

.textGlow {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }
  
  .headerGlow {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #83240F,
        0 0 82px #83240F,
        0 0 92px #83240F,
        0 0 102px #83240F,
        0 0 151px #83240F;
        padding-bottom: 1.2rem;
  }
/* Flickering animation */
@keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #e60909,
        0 0 80px #e60909,
        0 0 90px #e60909,
        0 0 100px #e60909,
        0 0 150px #e60909;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  @keyframes navFlick {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
/*Neon effects taken and partially adjusted from css-tricks.com*/
/*Card styling*/
.card{
    box-shadow: 0 0 7px #fff,
    0 0 10px rgb(6, 82, 133),
    0 0 21px rgb(6, 82, 133),
    0 0 32px rgb(6, 82, 133),
    0 0 62px rgb(6, 82, 133),
    0 0 72px #000,
    0 0 92px #000,
    0 0 101px #000;
}
.price-text{
    font-family: 'Press Start 2P', cursive;
    text-shadow:
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 32px #fff,
    0 0 62px #fff,
    0 0 72px #fff,
    0 0 92px #000,
    0 0 101px #000;
}
/*404 styling*/
.errorPage {
    padding-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  /*Neon effects taken and partially adjusted from css-tricks.com*/
.errorText {
    font-size: 6.2rem;  
    text-align: center;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;   
  }
  .errorText:hover{
      text-decoration: none;
      font-size: 6.2rem;  
      text-align: center;
      color: #fff;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;   
  }

  /*Schedule page*/
  .form-label{
    color: #fff;
    font-size: 1.2rem;
}
.form-text{
    color: #fff;
}
.form-check-label{
    color: #fff;
}
/*Neon effects taken and partially adjusted from css-tricks.com*/
.form-border{
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
}
  @media only screen and (min-width: 0px) and (max-width: 600px) {
    #desk-nav{
        display: none;
    }
}
@media only screen and (min-width: 601px){
    #navbarToggleExternalContent{
        display: none;
    }
}

/*Neon effects taken and partially adjusted from css-tricks.com*/